Dokumentation/
.venv/
kitware-archive.sh
zephyrproject/.venv/
zephyrproject/.west/
zephyrproject/bootloader/
zephyrproject/modules/
zephyrproject/samples/
zephyrproject/tools/
zephyrproject/zephyr/.checkpatch.conf
zephyrproject/zephyr/.clang-format
zephyrproject/zephyr/.codechecker.yml
zephyrproject/zephyr/.codecov.yml
zephyrproject/zephyr/.editorconfig
zephyrproject/zephyr/.gitattributes
zephyrproject/zephyr/.github/
zephyrproject/zephyr/.gitlint
zephyrproject/zephyr/.mailmap
zephyrproject/zephyr/.ruff-excludes.toml
zephyrproject/zephyr/.ruff.toml
zephyrproject/zephyr/.yamllint
zephyrproject/zephyr/CODEOWNERS
zephyrproject/zephyr/CODE_OF_CONDUCT.md
zephyrproject/zephyr/CONTRIBUTING.rst
zephyrproject/zephyr/Kconfig
zephyrproject/zephyr/Kconfig.constants
zephyrproject/zephyr/Kconfig.zephyr
zephyrproject/zephyr/LICENSE
zephyrproject/zephyr/MAINTAINERS.yml
zephyrproject/zephyr/README.rst
zephyrproject/zephyr/SDK_VERSION
zephyrproject/zephyr/VERSION
zephyrproject/zephyr/arch/
zephyrproject/zephyr/boards/
zephyrproject/zephyr/cmake/
zephyrproject/zephyr/doc/
zephyrproject/zephyr/drivers/
zephyrproject/zephyr/dts/
zephyrproject/zephyr/include/
zephyrproject/zephyr/kernel/
zephyrproject/zephyr/lib/
zephyrproject/zephyr/misc/
zephyrproject/zephyr/modules/
zephyrproject/zephyr/scripts/
zephyrproject/zephyr/share/
zephyrproject/zephyr/snippets/
zephyrproject/zephyr/soc/
zephyrproject/zephyr/submanifests/
zephyrproject/zephyr/subsys/
zephyrproject/zephyr/tests/
zephyrproject/zephyr/version.h.in
zephyrproject/zephyr/west.yml
zephyrproject/zephyr/zephyr-env.sh
